<% if flash[:notice] %>
<div id='flash' class="alert alert-success alert-dismissable">
    <%= flash[:notice] %>
</div>
<% end %>
<table class="table">
  <tr>
    <th>Resource Name</th>
    <th>DB Name</th>
    <th>Write IP</th>
    <th>Read IP</th>
    <th>Location</th>
    <th></th>
  </tr>
  <tbody>
  <% for l in @locators %>
    <tr>
      <td><%= l.resource %></td>
      <td><%= l.dbname %></td>
      <td><%= l.rw %></td>
      <td><%= l.ro %></td>
      <td><%= l.server_location_id %></td>
      <td><a href="/locator/edit/<%= l.id %>">Edit</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
